<!doctype html>
<html lang="en">

<head>
  <title>KB-Prototype</title>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">KB Prototype</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newKB">New KB Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lookupKB">Lookup KB Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listAllKB">List All KB Articles</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
    <div class="jumbotron">
      <h1>Personal Knowledge Base project</h1>
      <p>Welcome! The purpose of this site is to mock-up the future version of the fully functional web app currently in
        development.</p>

      <p>The mock up will demonstrate at a very basic level the functionality of adding, searching, and listing all
        Knowledge base articles.</p>

      <p>Please explore the links above for a peek into what is to come as the project developes.</p>

      <p>This will become the featured project in my portfolio as well as a tool I've ben wanting for years for my own
        use.</p>
    </div>

  </main>


  <footer>&copy;&nbsp;2019 dustinwright.dev</footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>


</html>